.TopPanelContainer {
    position: absolute;

    width: 100%;
    height: 10vh;

    left: 0;
    top:0;
    bottom: 0;
    right: 0;

    background-color: #458eaf;
}

#CategoryButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Left {
    flex: 1 1 0;
    justify-content: flex-start;
    width: 10vw;
}

.Center {
    flex: 1 1 0;
    justify-content: center;
    width: 10vw;
}

.Right {
    flex: 1 1 0;
    justify-content: flex-end;
    width: 10vw;
}